
body {
   font-family: sans-serif;
}

.repo {
   width: 80%;
   height: 40px;
   padding: 10px;
   margin: 20px;
   background: #eeeeee;
}

.repo:hover {
   background: #dddddd;
   cursor: pointer;
}

.repo-title {
   font-size: large;
   /*float: left;*/
}

.repo-path {
   font-size: small;
   margin-top: 5px;
   color: #444444;
   /*float: right;*/
}


.myButton {
   background: #d1d1d1;
   padding: 5px;
   /*width: 50px;*/
   display: inline-block;
}

.myButton:hover {
   background: #aaaaaa;
   cursor: pointer;
}

.output {
   background: #000000;
   /*color: white*/
   width: auto;
   margin: 30px;
   height: 200px;
   overflow: auto;
   padding: 5px;
}

.output p {
   color: white;
   font-family: monospace;
   font-size: smaller;
   padding-top: 5px;
   margin: 0;
}


#editor {
   /*position: absolute;*/
   /*top: 0;*/
   /*right: 0;*/
   /*bottom: 0;*/
   /*left: 0;*/
   /**/
   width: auto;
   margin: 30px;
   height: 300px;
}